@if (form) {
<form
  class="inline-form"
  [formGroup]="form"
  #ngForm="ngForm"
  (ngSubmit)="onSubmit()"
 
  [@backInDown]
>
  <h1 translate>
    {{ !!gallery ? "GALLERY.CREATE.edit_title" : "GALLERY.CREATE.title" }}
  </h1>

  <div role="group" aria-labelledby="group-image">
    <div class="input-group">
      <label for="name" translate>GALLERY.CREATE.name</label>
      <input
        id="name"
        formControlName="name"
        [placeholder]="'GALLERY.CREATE.name' | translate"
        [ngClass]="{
          'is-invalid':
            (ngForm.submitted || form.get('name')?.touched) &&
            form.get('name')?.errors
        }"
      />
    </div>
    <div class="input-group">
      <label for="description" translate>GALLERY.CREATE.description</label>

      <textarea
        id="description"
        formControlName="description"
        [placeholder]="'GALLERY.CREATE.description_long' | translate"
        [ngClass]="{
          'is-invalid':
            (ngForm.submitted || form.get('description')?.touched) &&
            form.get('description')?.errors
        }"
      ></textarea>
    </div>
  </div>

  <div role="group" aria-labelledby="group-image">
    <div class="input-group image">
      <label
        for="image"
        translate
        [translateParams]="{ count: !!gallery ? 1 : 2 }"
        >GALLERY.CREATE.image</label
      >
      <app-file-dropzone
        formControlName="image"
        accept="image/png, image/jpeg"
        [multiple]="!!!gallery"
        [isInvalid]="
          (ngForm.submitted || form.get('image')?.touched) &&
          form.get('image')?.errors
        "
      ></app-file-dropzone>

      @if (
          (ngForm.submitted || form.get('image')?.touched) &&
          form.get('image')?.errors
        ) {
<small
        class="error-group"
        translate
       
        >GALLERY.CREATE.image_required</small
      >
}
      @if (!!!gallery) {
<small class="text-muted" translate
        >GALLERY.CREATE.multiple_images</small
      >
}
    </div>

    @if (imagesPreview$ | async; as imagesPreview) {
<div
      class="images-container"
     
    >
      @for (image of imagesPreview; track image; let imageIndex = $index) {
  <div
        class="image-container"
       
      >
        <img [src]="image" />
        @if (!gallery) {
<button
          type="button"
          class="button button-outline"
          (click)="removeImage(imageIndex)"
         
        >
          <i class="fa-regular fa-times"></i>
        </button>
}
      </div>
}
    </div>
}
  </div>

  <div class="button-group">
    <button class="button button-outline" type="button" appGoBack translate>
      FORM.BUTTONS.cancel
    </button>
    <button
      class="button"
      type="submit"
      translate
      [translateParams]="{ count: form.get('image')?.value?.length }"
    >
      {{
        gallery
          ? "GALLERY.CREATE.update_button"
          : "GALLERY.CREATE.create_button"
      }}
    </button>
  </div>
</form>
}
