<app-automatic-availability-settings
  class="no-border-bottom"
></app-automatic-availability-settings>
<form class="grouped-form" [@backInDown]>
  <div role="group" aria-labelledby="group-picture">
    <div class="group-description">
      <label id="group-picture" translate>Disponibilités par défaut</label>

      <small translate>
        AVAILABILITY.DEFAULT.availability_generation_info
      </small>

      <small translate>
        AVAILABILITY.DEFAULT.no_generated_availability_for_manual_days
      </small>
    </div>

    <div class="input-group">
      <app-default-availability
        class="no-border-bottom"
      ></app-default-availability>
    </div>
  </div>
</form>

<form class="grouped-form" [@backInDown]>
  <div role="group" aria-labelledby="group-picture">
    <div class="group-description">
      <label id="group-picture" translate>Générer des disponibilités</label>

      <small translate>
        AVAILABILITY.DEFAULT.availability_generation_info
      </small>
    </div>

    <div class="input-group">
      <div class="input-group inline">
        Du

        <input
          formControlName="birthday"
          type="date"
          id="birthday"
          name="birthday"
          [placeholder]="'CUSTOMER.PROFILE.birthday' | translate"
        />
        au

        <input
          formControlName="birthday"
          type="date"
          id="birthday"
          name="birthday"
          [placeholder]="'CUSTOMER.PROFILE.birthday' | translate"
        />
      </div>

      <button class="button fit">
        <i class="fa-regular fa-rotate-right"></i>
        Générer
      </button>
    </div>
  </div>
</form>
