$max-width: 250px;
$grid-gap: var(--space-200);
$max-columns: 4;

.grid {
  display: grid;
  grid-template-columns: repeat($max-columns, minmax(0, $max-width));
  grid-gap: $grid-gap;
  margin-block: var(--space-600);
  margin-inline: auto;

  h1 {
    grid-column: 1 / -1;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, $max-width));
    grid-gap: var(--space-100);
  }
}
