<ng-container *ngIf="chat() as chat">
  <ng-container *ngIf="chat.project() as project">
    <div class="header">
      <h2>Projet</h2>
      <button (click)="close()" *ngIf="isMobile()">
        <i class="fa-regular fa-times-circle"></i>
      </button>
    </div>

    <div class="content">
      <div class="box">
        <ng-container *ngFor="let type of project.types">
          <div class="detail">
            {{ temp[type].text | translate }}
            <i class="type-icon" [ngClass]="temp[type].icon"></i>
          </div>
          <hr />
        </ng-container>

        <ng-container *ngIf="project.isFirstTattoo">
          <div class="detail">
            <div class="name">Premier tatouage</div>
            <i class="fa-solid fa-stars"></i>
          </div>
          <hr />
        </ng-container>

        <ng-container *ngIf="project.isCoverUp">
          <div class="detail">
            <div class="name">Recouvrement</div>
            <i class="fa-solid fa-star-half-stroke"></i>
          </div>
          <hr />
        </ng-container>

        <ng-container *ngIf="project.isPostOperationOrOverScar">
          <div class="detail">
            <div class="name">Post opé</div>
            <i class="fa-solid fa-bandage"></i>
          </div>
          <hr />
        </ng-container>

        <div class="detail">
          <div class="name">Zone</div>
          <div class="text-bold">{{ project.zone }}</div>
        </div>
        <hr />

        <div class="detail">
          <div class="name">Taille (lxh)</div>
          <div class="text-bold">
            {{ project.widthCm }}x{{ project.heightCm }}
          </div>
        </div>

        <ng-container *ngIf="project.additionalInformation">
          <hr />
          <div class="detail">
            <div class="name break-lines text-center footnote">
              {{ project.additionalInformation }}
            </div>
          </div>
        </ng-container>
      </div>

      <ng-container *ngIf="project.illustrations">
        <h3>Illustrations</h3>
        <div class="media-grid">
          <button
            *ngFor="let src of project.illustrations"
            (click)="openModalPreview(src)"
            class="cursor-pointer media"
          >
            <img [src]="src" />
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="project.appointments">
        <h3>Rendez-vous</h3>
        <div class="events">
          <app-calendar-item
            *ngFor="let event of project.appointments"
            [event]="event"
            date
          ></app-calendar-item>
        </div>
      </ng-container>

      <ng-container *ngIf="project.customerAvailability">
        <h3>Disponibilités</h3>
        <div class="box footnote">
          {{ project.customerAvailability }}
        </div>
      </ng-container>

      <ng-container *ngIf="project.locations">
        <h3>Emplacement</h3>
        <div class="media-grid">
          <button
            *ngFor="let src of project.locations"
            (click)="openModalPreview(src)"
            class="cursor-pointer media"
          >
            <img [src]="src" />
          </button>
        </div>
      </ng-container>

      <ng-container *ngIf="project.flashs">
        <h3>Flash</h3>
        <div class="media-grid">
          <app-flash-item
            class="media"
            *ngFor="let flash of project.flashs"
            [flash]="flash"
            hideAvailability
          >
          </app-flash-item>
        </div>
      </ng-container>

      <ng-container *ngIf="project.attachments">
        <h3>Médias</h3>
        <div class="media-grid">
          <button
            *ngFor="let src of project.attachments"
            (click)="openModalPreview(src)"
            class="cursor-pointer media"
          >
            <img [src]="src" />
          </button>
        </div>
      </ng-container>
    </div>
  </ng-container>
</ng-container>
