.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--space-300);
  border-bottom: 1px solid var(--gray-300);
  gap: var(--space-200);
  cursor: pointer;
  width: 100%;

  &:hover,
  &.active {
    background-color: var(--gray-200);
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
    flex-grow: 1;
    color: var(--gray-800);
    font-size: var(--text-sm);

    .contact-name {
      color: var(--text-color-dark);
      font-weight: 600;
      font-size: 1rem;
    }

    .last-message {
      overflow-y: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  .last-update {
    font-size: var(--text-xs);
    color: var(--gray-800);
    margin-top: auto;
  }

  &.unread {
    .details .last-message {
      color: var(--text-color-dark);
      font-weight: bold;
    }

    .unread-indicator {
      height: 10px;
      width: 10px;
      background-color: var(--primary-color);
      border-radius: 50%;
    }
  }

  app-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;
  }
}

.indicators {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  align-self: stretch;
}

@media (max-width: 768px) {
  :host {
    flex-wrap: wrap;
    text-align: center;

    .profile-pic {
      flex-basis: 100%;
    }

    .last-message {
      display: none;
    }

    .unread-indicator {
      position: inherit !important;
      right: 0 !important;
      transform: none !important;
    }
  }
}
