.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--space-300);
  gap: var(--space-200);
  cursor: pointer;
  width: 100%;
  border-radius: var(--base-border-radius);

  &:hover {
    background-color: var(--material-control-selection-unfocused);
  }

  &.active {
    background-color: var(--material-control-selection-focus);
    color: var(--label-dark-primary);

    .details {
      .project-name {
        color: var(--label-dark-secondary);
      }
      .last-message {
        color: var(--label-dark-tertiary);
      }
    }

    .last-update {
      color: var(--label-dark-tertiary);
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-100);
    flex-grow: 1;
    font-size: var(--text-sm);

    .contact-name {
      font-weight: 600;
      font-size: 1rem;
    }

    .project-name {
      color: var(--label-secondary);
    }

    .last-message {
      overflow-y: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      color: var(--label-tertiary);
    }
  }

  .last-update {
    font-size: var(--text-xs);
    color: var(--label-tertiary);
    margin-top: auto;
  }

  &.unread {
    .details .last-message {
      color: var(--text-color-dark);
      font-weight: bold;
    }

    .unread-indicator {
      height: 10px;
      width: 10px;
      background-color: var(--primary-color);
      border-radius: 50%;
    }
  }

  app-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    flex-shrink: 0;
  }
}

.indicators {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  align-self: stretch;
  gap: var(--space-200);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;

    .details {
      display: none;
    }

    app-avatar {
      width: 35px;
      height: 35px;
    }
  }

  .indicators {
    flex-direction: row-reverse;
    justify-content: center;
  }
}
