<div
  class="container"
  [class.active]="activeChat()?.id === chat.id"
  [class.unread]="!chat.is_read"
>
  <app-avatar [customer]="chat.avatar"></app-avatar>

  <div class="details">
    <div class="contact-name">
      {{ chat.contact_name }}
    </div>
    <div class="project-name">{{ chat.project_name }}</div>
    <div class="last-message" *ngIf="chat.last_message">
      {{ chat.last_message }}
    </div>
  </div>
  <div class="indicators">
    <div *ngIf="!chat.is_read" class="unread-indicator"></div>
    <div class="last-update">
      {{ chat.last_update | timeAgo : "short" | async }}
    </div>
  </div>
</div>
