<header class="mobile" *ngIf="isMobile$ | async; else isDesktop">
  <ng-container *ngTemplateOutlet="searchBar"></ng-container>
  <ng-container *ngTemplateOutlet="profile"></ng-container>
</header>

<ng-template #isDesktop>
  <header class="desktop">
    <nav>
      <a class="logo" routerLink="/">Tattoo</a>
      <ul>
        <li><a routerLink="/artists" routerLinkActive="active">Artists</a></li>
        <li><a routerLink="/tattoos" routerLinkActive="active">Tattoos</a></li>
        <li>
          <a routerLink="/tattooists" routerLinkActive="active">Tattooists</a>
        </li>
        <ng-container *ngIf="credentials$ | async as credentials">
          <ng-container *ngIf="credentials.shop_name">
            <li>
              <a
                routerLink="/shop"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                translate
                >HEADER.shop</a
              >
            </li>
            <li>
              <a
                routerLink="/shop/gallery"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                translate
                >HEADER.gallery</a
              >
            </li>
          </ng-container>
        </ng-container>
      </ul>

      <div class="right-side">
        <ng-container *ngTemplateOutlet="searchBar"></ng-container>
        <ng-container *ngTemplateOutlet="profile"></ng-container>
      </div>
    </nav>
  </header>
</ng-template>

<ng-template #searchBar>
  <div class="search">
    <app-icon-input
      icon="magnifying-glass"
      [placeholder]="'HEADER.search' | translate"
    ></app-icon-input>
  </div>
</ng-template>

<ng-template #profile>
  <div class="profile">
    <ng-container *ngIf="credentials$ | async as credentials; else notLogged">
      <button class="profile" [cdkMenuTriggerFor]="profileMenu">
        <img
          src="https://flowbite.com/docs/images/people/profile-picture-3.jpg"
          alt=""
        />
      </button>
      <ng-template #profileMenu>
        <div class="profile-menu" cdkMenu>
          <div class="profile-info" cdkMenuItem>
            <div class="shop" *ngIf="credentials.shop_name">
              {{ credentials.shop_name }}
            </div>
            <div class="name">
              {{ credentials.firstname }} {{ credentials.lastname }}
            </div>
            <div class="email">
              {{ credentials.email }}
            </div>
          </div>

          <a cdkMenuItem routerLink="/me" class="hoverable" translate>
            <i class="fa-solid fa-user"></i>
            CUSTOMER.MENU.profile
          </a>
          <hr />

          <ng-container *ngIf="!credentials.shop_name">
            <a
              cdkMenuItem
              routerLink="/shop/create"
              class="hoverable"
              translate
            >
              <i class="fa-solid fa-shop"></i>
              CUSTOMER.MENU.open_shop
            </a>
            <hr />
          </ng-container>

          <a cdkMenuItem (click)="logOut()" class="hoverable" translate>
            <i class="fa-solid fa-power-off"></i>
            CUSTOMER.MENU.signout
          </a>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #notLogged>
      <a class="button" routerLink="/auth" translate>HEADER.signin</a>
    </ng-template>
  </div>
</ng-template>
