<app-infinite-scroll
  (loadMore)="loadMessages()"
  [fullyLoaded]="chat.is_fully_loaded ?? false"
  reverse
>
  <ng-container *ngIf="chat.messages && chat.messages() as messages">
    <ng-container
      *ngFor="let message of messages; let index = index; let isLast = last"
    >
      <div class="item">
        <div
          class="message-container"
          [ngClass]="message.is_sender ? 'mine' : 'theirs'"
        >
          <span class="message">
            <div class="message-content break-lines">
              {{ message.content }}
            </div>
          </span>
          <span class="message-time">{{
            message.creation_date | date : "shortTime"
          }}</span>
        </div>

        <div
          class="read-indicator"
          *ngIf="
            (message.is_sender && message.is_read && isLast) ||
            (!isLast &&
              message.is_read &&
              messages[index + 1] &&
              messages[index + 1].is_sender &&
              !messages[index + 1].is_read)
          "
        >
          Lu
        </div>
      </div>

      <div
        class="day item"
        *ngIf="
          isLast ||
          (messages[index + 1].creation_date | date : 'mediumDate') !==
            (message.creation_date | date : 'mediumDate')
        "
      >
        {{ message.creation_date | date : "mediumDate" }}
      </div>
    </ng-container>
  </ng-container>
</app-infinite-scroll>
