:host {
  --alice-blue: rgba(218, 235, 255, 0.7);
  --papaya-whip: rgba(255, 242, 217, 0.7);
  --nyanza: rgba(225, 255, 218, 0.7);
  --misty-rose: rgba(255, 217, 217, 0.7);
  --pale-purple: rgba(240, 217, 255, 0.7);
  padding: var(--space-400);
  display: flex;
  flex-direction: column;
  gap: var(--space-200);
}

.header {
  display: flex;
  gap: var(--space-400);
  justify-content: flex-end;

  button {
    color: var(--gray-800);
  }
}

:host {
  overflow: hidden;
}

.color {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  margin-top: var(--space-200);

  &.paid_Appointment {
    background-color: var(--nyanza);
    &:hover {
      background-color: var(--nyanza-hover);
    }
  }
  &.confirmed_Appointment {
    background-color: var(--pale-purple);
    &:hover {
      background-color: var(--pale-purple-hover);
    }
  }
  &.proposal {
    background-color: var(--teal);
    &:hover {
      background-color: var(--teal);
    }
  }
  &.Appointment {
    background-color: var(--papaya-whip);
    &:hover {
      background-color: var(--papaya-whip-hover);
    }
  }
  &.Availability {
    background-color: var(--alice-blue);
    &:hover {
      background-color: var(--alice-blue-hover);
    }
  }
  &.Unavailability {
    background-color: var(--misty-rose);
    &:hover {
      background-color: var(--misty-rose-hover);
    }
  }
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);

  .group {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-300);
  }
}
