:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: hidden;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-400);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-400);
  padding: var(--space-200);

  .info-btn {
    margin-left: auto;
  }

  .name {
    font-weight: bold;
    font-size: 1rem;
  }

  .project-name {
    color: var(--gray-800);
  }

  .info-btn {
    color: var(--primary-color);
    padding: 0.2rem;
    font-size: 1rem;
  }

  .profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}

app-chat-input {
  margin-top: auto;
  margin-bottom: var(--space-300);
}
