<ng-container *ngIf="chat() as chat; else noChatActive">
  <div class="header">
    <app-avatar class="profile-pic" [customer]="chat.avatar"></app-avatar>
    <div class="name">{{ chat.contact_name }}</div>
    <div class="project-name">Project name</div>

    <button class="info-btn">
      <i class="far fa-info-circle"></i>
    </button>
  </div>
  <app-chat-message-list [chat]="chat"> </app-chat-message-list>

  <app-chat-input></app-chat-input>
</ng-container>

<ng-template #noChatActive> Aucun chat sélectionné </ng-template>
