:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: color 0.15s ease;

  $gap: 7px;

  input {
    padding-left: calc($gap + var(--text-sm) + $gap);
  }

  .icon-container {
    position: absolute;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: calc($gap + var(--text-sm) + $gap);
    pointer-events: none;
    color: var(--gray-800);
    font-size: var(--text-sm);
  }
}
