@if (form$ | async; as form) {
<form [formGroup]="form">
  <ng-container formGroupName="availability">
    <div class="input-group">
      <h3 translate>BOOKING.availability.availabilities</h3>
      @if (shop$ | async; as shop) {
<app-calendar-view
        [class.error]="(step.submitted || form.get('availability')?.touched) && form.get('availability')?.errors?.['noControlsSet']"
       
        formControlName="availabilities"
        view="month"
        [shopUrl]="shop.url"
      ></app-calendar-view>
}
      @if (form.get(['availability', 'availabilities'])?.value.length) {
<div>
        <h4
          translate
          [translateParams]="{
            count: form.get(['availability', 'availabilities'])?.value.length
          }"
        >
          BOOKING.availability.selected_availabilities
        </h4>
        <app-calendar-selected> </app-calendar-selected>
      </div>
}
    </div>

    <div class="input-group">
      <h3 translate>BOOKING.availability.customer_availability</h3>

      <textarea
        id="customer_availability"
        class="break-lines"
        formControlName="customer_availability"
        rows="6"
        [placeholder]="'BOOKING.availability.customer_availability' | translate"
        [ngClass]="{
          'is-invalid':
          (step.submitted || form.get('availability')?.touched) && form.get('availability')?.errors?.['noControlsSet']
        }"
      ></textarea>

      @if (
        (step.submitted || form.get('availability')?.touched) && form.get('availability')?.errors?.['noControlsSet']
        ) {
<div
        class="error-group"
       
        translate
      >
        BOOKING.availability.noControlsSet
      </div>
}
    </div>
  </ng-container>
</form>
}
