$max-width: 250px;
$grid-gap: var(--space-200);
$max-columns: 4;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.viewport {
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat($max-columns, minmax(0, $max-width));
  grid-gap: $grid-gap;
  margin-block: var(--space-600);
  margin-inline: auto;
  padding: var(--page-content-padding);

  h1 {
    grid-column: 1 / -1;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, $max-width));
    grid-gap: var(--space-100);
  }
}

::ng-deep {
  .cdk-virtual-scroll-content-wrapper {
    display: flex;
    flex-direction: column;
  }
}
