<div
  class="container"
  [class.clickable]="clickable"
  (click)="clickable && openModal()"
>
  <div
    *ngIf="!hideAvailability"
    class="availability"
    [ngClass]="flash.available ? 'available' : 'not_available'"
  >
    <div class="circle"></div>
    {{
      (flash.available
        ? "FLASH.CREATE.available"
        : "FLASH.CREATE.not_available"
      ) | translate
    }}
  </div>
  <img
    [src]="publicBucket + (flash.image_url || flash.imageUrl) + '?v=' + (flash.image_version || flash.imageVersion)"
    [alt]="flash.name"
  />
</div>
