<button
  (click)="click($event)"
  type="button"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  class="container footnote"
  [class.selection]="selectionActive() === 'selection'"
  [class.selected]="selected()"
  [class.centered]="hideTitle"
  [ngClass]="event.event_type || event.type"
  [@slideDown]
>
  @if (selectionActive() !== 'selection' && !hideTitle) {
<div translate>
    {{ "CALENDAR.EVENT_TYPE." + (event.event_type || event.type) }}
  </div>
}
  <div class="time">
    @if (showDate) {
<span>
      @if (hideTitle) {

        {{ "AVAILABILITY.the_day" | translate }}
      
}
      {{ (event.start_time || event.startTime) | date : "shortDate" }}
      {{ "AVAILABILITY.from_hour" | translate | lowercase }}
    </span>
}
    @if (hoursBetweenDates && hoursBetweenDates > 23) {
<div
     
      translate
    >
      AVAILABILITY.all_day
    </div>
} @else {

      {{ (event.start_time || event.startTime) | shortTime }}
      {{ showDate ? ("AVAILABILITY.to_hour" | translate | lowercase) : "-" }}
      {{ (event.end_time || event.endTime) | shortTime : showDate }}
    
}
      </div>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayFlexibleDimensions]="true"
  [cdkConnectedOverlayPush]="true"
  [cdkConnectedOverlayPositions]="[
    {
      originX: 'end',
      originY: 'top',
      overlayX: 'start',
      overlayY: 'top',
      offsetX: 5,
    }
  ]"
  (overlayOutsideClick)="close($event)"
>
  <app-calendar-event-modal
    [event]="event"
    (close)="close()"
  ></app-calendar-event-modal>
</ng-template>
