<button
  (click)="click($event)"
  type="button"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  class="container"
  [class.selection]="selectionActive()"
  [class.selected]="selected()"
  [ngClass]="event.event_type"
  [@slideDown]
>
  <div *ngIf="!selectionActive()" translate>
    {{ "CALENDAR.EVENT_TYPE." + event.event_type }}
  </div>
  <div>
    <span *ngIf="showDate">
      {{ event.start_time | date : "fullDate" }}
      {{ "AVAILABILITY.from_hour" | translate | lowercase }}
    </span>
    <div
      *ngIf="hoursBetweenDates && hoursBetweenDates > 23; else range"
      translate
    >
      AVAILABILITY.all_day
    </div>
    <ng-template #range>
      {{ event.start_time | shortTime }}
      {{ showDate ? ("AVAILABILITY.to_hour" | translate | lowercase) : "-" }}
      {{ event.end_time | shortTime : showDate }}
    </ng-template>
  </div>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayFlexibleDimensions]="true"
  [cdkConnectedOverlayPush]="true"
  [cdkConnectedOverlayPositions]="[
    {
      originX: 'end',
      originY: 'top',
      overlayX: 'start',
      overlayY: 'top',
      offsetX: 5,
    }
  ]"
  (overlayOutsideClick)="close($event)"
>
  <app-calendar-event-modal
    [event]="event"
    (close)="close()"
  ></app-calendar-event-modal>
</ng-template>
