:host {
  --alice-blue: rgba(218, 235, 255, 0.7);
  --papaya-whip: rgba(255, 242, 217, 0.7);
  --nyanza: rgba(225, 255, 218, 0.7);
  --misty-rose: rgba(255, 217, 217, 0.7);
  --pale-purple: rgba(240, 217, 255, 0.7);
  overflow: hidden;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: var(--space-100);
  border-radius: 4px;
  width: 100%;
  height: 100%;

  &.Availability {
    background: var(--alice-blue);
  }
  &.Unavailability {
    background: var(--misty-rose);
  }
}

.all-day {
  flex-grow: 1;
}
