<button
  (click)="showEdit($event)"
  type="button"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  class="container"
  [ngClass]="event.event_type"
>
  <div translate>{{ "CALENDAR.EVENT_TYPE." + event.event_type }}</div>
  <div
    *ngIf="hoursBetweenDates && hoursBetweenDates > 23; else range"
    translate
  >
    AVAILABILITY.all_day
  </div>
  <ng-template #range>
    {{ event.start_time | shortTime }} - {{ event.end_time | shortTime }}
  </ng-template>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="isOpen"
  [cdkConnectedOverlayFlexibleDimensions]="true"
  [cdkConnectedOverlayPush]="true"
  [cdkConnectedOverlayPositions]="[
    {
      originX: 'end',
      originY: 'top',
      overlayX: 'start',
      overlayY: 'top',
      offsetX: 5,
    }
  ]"
  (overlayOutsideClick)="isOpen = false"
>
  <app-calendar-event-modal
    [event]="event"
    (close)="isOpen = false"
  ></app-calendar-event-modal>
</ng-template>
