:host {
  --alice-blue: rgba(218, 235, 255, 0.7);
  --alice-blue-hover: rgba(208, 235, 255, 1);
  --papaya-whip: rgba(255, 242, 217, 0.7);
  --papaya-whip-hover: rgba(245, 242, 217, 1);
  --nyanza: rgba(225, 255, 218, 0.7);
  --nyanza-hover: rgba(215, 255, 218, 1);
  --misty-rose: rgba(255, 217, 217, 0.7);
  --misty-rose-hover: rgba(245, 217, 217, 1);
  --pale-purple: rgba(240, 217, 255, 0.7);
  --pale-purple-hover: rgba(230, 217, 255, 1);
  min-height: 25px;
  width: 100%;
  flex: 1 1 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: var(--space-100);
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  overflow: hidden;

  &.paid_Appointment {
    background-color: var(--nyanza);
    &:hover {
      background-color: var(--nyanza-hover);
    }
  }
  &.confirmed_Appointment {
    background-color: var(--pale-purple);
    &:hover {
      background-color: var(--pale-purple-hover);
    }
  }
  &.Appointment {
    background-color: var(--papaya-whip);
    &:hover {
      background-color: var(--papaya-whip-hover);
    }
  }
  &.Availability {
    background-color: var(--alice-blue);
    &:hover {
      background-color: var(--alice-blue-hover);
    }
  }
  &.Unavailability {
    background-color: var(--misty-rose);
    &:hover {
      background-color: var(--misty-rose-hover);
    }
  }

  &.selection {
    justify-content: center;

    &.selected {
      background-color: var(--primary-color);
      color: white;

      &:hover {
        background-color: var(--primary-color-dark);
      }
    }
  }
}
