:host {
  display: flex;
  flex-direction: column;
  background-color: var(--text-color-light);
  padding: var(--space-100);
  min-width: 0;
  gap: var(--space-200);
  font-size: 0.9rem;
}

.content {
  min-height: 50px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-100);
}

.day-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.day-number-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-100);
}

.day-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;

  &.active {
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    width: 25px;
    height: 25px;
  }
}

.week-number {
  color: var(--gray-700);
}
