:host {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  padding: var(--space-short);
  min-width: 0;
  gap: var(--space-middle);
  font-size: 0.9rem;
}

.content {
  min-height: 50px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-short);
}

.day-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.day-number-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-short);
}

.day-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  border-radius: 50%;
  width: 25px;
  height: 25px;

  &.active {
    background-color: var(--material-control-selection-focus);
    color: var(--text-color-light);
  }
}

.week-number {
  color: var(--gray-700);
}

.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-middle);
  height: 100%;

  .all-day {
    flex-grow: 1;
  }
}

.modal {
  .header {
    display: flex;
    gap: var(--space-short);
    justify-content: space-between;
    align-items: center;
    background-color: var(--material-control-title-bar);
    padding: var(--space-middle);

    button {
      color: var(--label-secondary);
    }
  }

  app-calendar-form-event {
    padding: var(--space-middle);
  }

  h1 {
    font-weight: bold;
    font-size: 1.2rem;
  }
}
