$body-bg: #fff;

// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #2c251a;
// scss-docs-end gray-color-variables

// #E6AC6D
// #AF8C64
// #623C18

/* Color Theme Swatches in Hex */
.Medics-1-hex {
  color: #85ace0;
}
.Medics-2-hex {
  color: #a2cdfd;
}
.Medics-3-hex {
  color: #0190f0;
}
.Medics-4-hex {
  color: #435ca3;
}
.Medics-5-hex {
  color: #085ca6;
}

// fusv-disable
// scss-docs-start gray-colors-map
$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
);
// scss-docs-end gray-colors-map
// fusv-enable

// scss-docs-start color-variables
$blue: #0190f0;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #76b081;
$teal: #20c997;
$cyan: #0dcaf0;
// scss-docs-end color-variables

// scss-docs-start colors-map
$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "black": $black,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
);
// scss-docs-end colors-map

$headings-color: $blue;
$nav-link-color: $blue;
$nav-link-hover-color: $black;

$border-color: rgba($black, 0.4);

$container-padding-x: 0;

$card-bg: $body-bg;
$card-border-radius: 0;

$input-bg: $white;

$font-family-sans-serif: "Montserrat", system-ui, -apple-system, "Segoe UI",
  Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
