<app-infinite-scroll
  (loadMore)="loadEvents()"
  [fullyLoaded]="chat.is_fully_loaded ?? false"
  reverse
>
  <app-chat-shortcuts></app-chat-shortcuts>
  @if (chat.events(); as events) {

    @for (
        event of chat.events(); track
        event.id; let index = $index; let isFirst = $first; let isLast = $last) {
  <div

    >
      @if (
          isLast ||
          (event.creationDate | date : 'mediumDate') !==
            (events[index + 1].creationDate | date : 'mediumDate')
        ) {
<div
        class="day"

      >
        {{ event.creationDate | date : "mediumDate" }}
      </div>
}
      <app-chat-event [event]="event"></app-chat-event>
      @if (
          chat.shop_id === credentials()?.shop_id &&
          event.isSender &&
          event.isRead &&
          (isFirst || !events[index - 1].isRead)
        ) {
<div
        class="read-indicator"

        translate
      >
        CHAT.read
      </div>
}
    </div>
}

}
</app-infinite-scroll>
