<app-infinite-scroll
  (loadMore)="loadEvents()"
  [fullyLoaded]="chat.is_fully_loaded ?? false"
  reverse
>
  <app-chat-shortcuts></app-chat-shortcuts>
  <ng-container *ngIf="chat.events() as events">
    <div
      *ngFor="
        let event of chat.events();
        let index = index;
        let isFirst = first;
        let isLast = last
      "
    >
      <div
        class="day"
        *ngIf="
          isLast ||
          (event.creationDate | date : 'mediumDate') !==
            (events[index + 1].creationDate | date : 'mediumDate')
        "
      >
        {{ event.creationDate | date : "mediumDate" }}
      </div>
      <app-chat-event [event]="event"></app-chat-event>
      <div
        class="read-indicator"
        *ngIf="
          chat.shop_id === credentials()?.shop_id &&
          event.isSender &&
          event.isRead &&
          (isFirst || !events[index - 1].isRead)
        "
        translate
      >
        CHAT.read
      </div>
    </div>
  </ng-container>
</app-infinite-scroll>
