<div class="container">
  <button
    type="button"
    class="button button-outline close"
    (click)="dialog.close()"
  >
    <i class="fa-regular fa-times"></i>
  </button>
  <div class="scrollable-content">
    <app-flash-item [flash]="flash" [clickable]="false"> </app-flash-item>
    <div class="info-panel">
      <div class="head">
        <div>
          <h1>{{ flash.name }}</h1>

          @if (flash.price_range_start) {
<div class="price">
            {{ flash.price_range_start | currency }}
            @if (flash.price_range_end) {

              - {{ flash.price_range_end | currency }}
            
}
          </div>
}
        </div>
        @if ({ credentials: credentials$ | async }; as vm) {

          @if (
              vm.credentials && vm.credentials.shop_id === flash.shop_id) {
<span
            class="button-group"
           
          >
            <a
              [routerLink]="'shop/gallery/flash/' + flash.id"
              (click)="dialog.close()"
              class="button button-outline"
              translate
            >
              <i class="fa-regular fa-edit button-icon-left"></i>
              COMMON.edit
            </a>
            <button
              (click)="delete()"
              class="button button-outline button-danger"
              translate
            >
              <i class="fa-regular fa-trash"></i>
            </button>
          </span>
} @else {

          @if (flash.available) {
<a
           
            (click)="dialog.close()"
            [routerLink]="['book', flash.shop_url]"
            [queryParams]="{ flash: flash.id }"
            routerLinkActive="router-link-active"
            class="button"
            translate
          >
            <i class="fa-regular fa-calendar button-icon-left"></i>
            FLASH.book
          </a>
}
        
}
        
}
              </div>
      @if (flash.description) {
<p class="break-lines">
        {{ flash.description }}
      </p>
}
    </div>
  </div>
</div>
