<ng-container *ngIf="credentials$ | async as credentials" [@backInDown]>
  <div class="header">
    <app-avatar [customer]="credentials"></app-avatar>
    <div class="description">
      <div class="title">
        <h1>{{ credentials.shop_name }}</h1>
        <div class="url">/{{ credentials.shop_url }}</div>
      </div>
    </div>

    <a routerLink="/shop/edit" class="settings">
      <i class="fa-regular fa-gear"></i>
      Modifier la boutique
    </a>
  </div>

  <app-calendar></app-calendar>
</ng-container>
