:host,
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

:host {
  padding: var(--page-content-padding);
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--space-400);
  width: 100%;

  app-avatar {
    width: 50px;
    height: 50px;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
    flex-grow: 1;

    .title {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      gap: var(--space-200);

      h1 {
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0;
      }

      .url {
        color: var(--gray-700);
        font-size: 0.7rem;
      }
    }
  }

  nav {
    flex-grow: 1;
  }

  .settings {
    color: var(--gray-700);

    i {
      margin-right: var(--space-100);
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 400px) {
  .description .title {
    justify-content: center;
  }
}
