:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  width: fit-content;
  background-color: var(--gray-100);
  padding: var(--space-100);
  border: 1px solid var(--gray-300);
  border-radius: var(--border-radius);
  gap: var(--space-100);
}

::ng-deep {
  app-toggle-group-item {
    flex-grow: 1;
  }

  app-toggle-group-item div {
    color: var(--gray-800);

    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: var(--space-300);
    padding: var(--space-100) var(--space-400);
    border-radius: var(--border-radius);
    transition: all 0.3s ease-out, transform none;

    &.selected {
      color: var(--text-color-dark);

      background-color: var(--text-color-light);
      box-shadow: var(--box-shadow);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
