<div class="container">
  <button
    type="button"
    class="button button-outline close"
    (click)="dialog.close()"
  >
    <i class="fa-regular fa-times"></i>
  </button>
  <div class="scrollable-content">
    <app-gallery-item [gallery]="gallery" [clickable]="false">
    </app-gallery-item>
    <div class="info-panel">
      <div class="head">
        <div>
          <h1>{{ gallery.name }}</h1>
        </div>
        <ng-container *ngIf="{ credentials: credentials$ | async } as vm">
          <span
            class="button-group"
            *ngIf="vm.credentials && vm.credentials.shop_id === gallery.shop_id"
          >
            <a
              [routerLink]="'shop/gallery/' + gallery.id"
              (click)="dialog.close()"
              class="button button-outline"
              translate
            >
              <i class="fa-regular fa-edit button-icon-left"></i>
              COMMON.edit
            </a>
            <button
              (click)="delete()"
              class="button button-outline button-danger"
              translate
            >
              <i class="fa-regular fa-trash"></i>
            </button>
          </span>
        </ng-container>
      </div>
      <p class="break-lines" *ngIf="gallery.description">
        {{ gallery.description }}
      </p>
    </div>
  </div>
</div>
