<div class="message">
  @if (event.type === 'media') {
    <app-chat-event-attachments
      [attachments]="event.property.urls"
      [isMine]="event.isSender"
    ></app-chat-event-attachments>
  }
  @else if (event.type === 'message') {
    <app-chat-event-message
      [isMine]="event.isSender"
    >
    {{event.property.text}}
    </app-chat-event-message>
  }
  @else if (event.type === 'project_created') {
    <app-chat-event-project-new
      [event]="event"
    ></app-chat-event-project-new>
  }
  @else if (event.type === 'appointment_new') {
    <app-chat-event-appointment-new
      [event]="event"
    ></app-chat-event-appointment-new>
  }
  <!-- <ng-container *ngIf="event.type === 'project_created'"> </ng-container> -->
</div>

<span class="message-time">{{ event.creationDate | date : "shortTime" }}</span>
