header {
  padding: 20px 40px;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

nav > * {
  display: flex;
  align-items: center;

  &:last-child {
    justify-content: flex-end;
  }
}

ul {
  justify-content: center;
  li {
    margin-inline: 20px;
  }
}

svg {
  stroke: var(--black);
}

.user-panel a {
  margin-right: 20px;
}
