<section
  #selection
  class="grid selection"
  infiniteScroll
  (scrolled)="onScroll()"
  [infiniteScrollContainer]="selection"
>
  @for (flash of flashs$ | async; track flash.id) {
  <button

    (click)="toggle(flash)"
    [class.selected]="flash.selected"
  >
    <app-flash-item [clickable]="false" [flash]="flash" hideAvailability>
    </app-flash-item>
  </button>
}
</section>

@if (value?.length) {
<section>
  <h3>Sélectionnés:</h3>

  <div class="grid">
    @for (flash of value; track flash.id) {
  <button
      class="selected"

      (click)="toggle(flash)"
    >
      <app-flash-item [clickable]="false" [flash]="flash" hideAvailability>
      </app-flash-item>
    </button>
}
  </div>
</section>
}
