.ios-backdrop {
  background-color: var(--bg-backdrop);
}

.cdk-overlay-pane.ios-panel {
  background-color: transparent;
  border-radius: none;
  box-shadow: none;
}

.cdk-overlay-pane.ios-panel-plain {
  border-radius: var(--base-border-radius);
  background-color: var(--bg-primary);
  box-shadow: none;
}

.cdk-overlay-pane .ios-dialog {
  width: min(80vw, 300px);
}

.ios-dialog {
  display: block;
  border-radius: var(--base-border-radius);
  background-color: var(--material-regular);
  backdrop-filter: blur(10px);
  overflow: hidden;

  &.light {
    background-color: transparent;
    border: 1px solid var(--material-regular);
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-short);
    padding: var(--space-middle);
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--separator-non-opaque);
    gap: 1px;

    button {
      &:first-of-type {
        border-radius: 0 0 0 var(--base-border-radius);
      }

      &:last-of-type {
        border-radius: 0 0 var(--base-border-radius) 0;
      }
    }

    &.vertical {
      flex-direction: column;

      button {
        border-width: 0;
        border-bottom-width: 1px;
      }
    }

    button {
      text-align: center;
      flex-grow: 1;
      width: 100%;
      border-style: solid;
      border-color: var(--separator-non-opaque);
      outline: none;

      border-width: 0;
      border-right-width: 1px;

      padding: var(--space-middle);
      color: var(--blue);

      &:last-of-type {
        border-width: 0;
      }

      &.danger {
        color: var(--red);
      }

      &:hover,
      &:focus-visible {
        background-color: var(--material-thick);
      }
    }
  }
}
