input,
textarea,
select {
  width: 100%;
  padding: var(--input-padding);
  border: 1px solid var(--gray-400);
  background-color: var(--gray-100);
  border-radius: var(--border-radius);
  transition: border-color 0.15s ease, color 0.15s ease;

  &:focus-visible,
  &:hover {
    border: 1px solid var(--primary-color);
    outline: 0;
  }

  &::placeholder {
    color: var(--gray-800);
    font-size: var(--text-sm);
  }

  &.is-invalid {
    border-color: var(--error-color);
  }
}

input[type="checkbox"] {
  width: auto;
}

.error-group {
  color: var(--error-color);
  font-size: 0.8rem;
  text-align: right;
}

.inline-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-200);
  align-items: baseline;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--space-300);
  justify-content: flex-end;
}

@media (max-width: 768px) {
  div[role="group"] {
    flex-direction: column;
  }

  form.grouped-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-group {
    align-items: center;
    justify-content: center;
  }
}

form.grouped-form {
  width: min(100%, 1500px);
  margin-inline: auto;

  div[role="group"] {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    gap: var(--space-500);
    padding-block: var(--space-500);
    border-top: 1px solid var(--gray-300);

    &:last-of-type {
      border-bottom: 1px solid var(--gray-300);
    }
  }

  .group-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem min(2rem, 15px);

    small {
      font-size: 0.8rem;
      color: var(--gray-800);
      display: block;
      margin-top: var(--space-100);
    }
  }

  .input-group {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: var(--space-500);
    // padding-inline: min(2rem, 15px);

    &.inline {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--space-200);

      label {
        white-space: nowrap;
      }
    }
  }
}

form.inline-form {
  width: min(100%, 1000px);
  margin-inline: auto;

  div[role="group"] {
    margin-bottom: var(--space-600);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .input-group {
    margin-bottom: var(--space-500);

    &:last-of-type {
      margin-bottom: 0;
    }

    label {
      display: block;
      margin-bottom: var(--space-200);
    }
  }
}
