.text-center {
  text-align: center;
}

.text-light {
  color: var(--gray-800);
}

.text-success {
  color: var(--success-color);
}

.text-error {
  color: var(--error-color);
}

.text-bold {
  font-weight: bold;
}
