@import "./variables.new.scss";
@import "./variables.scss";
@import "./animations.scss";
@import "./inputs.scss";
@import "./text.scss";
@import "./dialog.scss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Schibsted Grotesk", sans-serif;
  background-color: var(--bg-color);
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

img,
svg,
canvas,
video {
  max-width: 100%;
}

app-root {
  flex-grow: 1;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.2);
}

.cdk-overlay-pane {
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  overflow-y: auto;
  max-height: 90vh;

  .cdk-dialog-container {
    transform-origin: top;
    animation: slide-down 200ms ease-in-out;
    outline: none;
  }

  .cdk-menu {
    display: inline-flex;
    flex-direction: column;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    overflow: hidden;

    hr {
      width: 100%;
      margin: 0;
      padding: 0;
      height: 1px;
      border: none;
      border-top: 1px solid var(--primary-color);
    }

    .cdk-menu-item {
      user-select: none;
      min-width: 64px;
      line-height: 36px;
      padding: 0 16px;
      transition: background-color 0.1s ease-in;

      &.hoverable {
        cursor: pointer;

        &:hover {
          background-color: var(--primary-color);
          color: var(--text-color-light);
        }

        &:active {
          color: var(--text-color-light);
          background-color: var(--primary-color-fade);
        }
      }
    }
  }
}

.text-muted {
  color: var(--gray-800);
}

.break-lines {
  white-space: pre-line;
}

.underline {
  text-decoration: underline;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--primary-color-fade);
  }
}

// Reset button styles
button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;

  &:not(:disabled) {
    cursor: pointer;
  }
}

.button {
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  color: var(--text-color-light);
  background-color: var(--primary-color);
  transition: background-color 0.2s ease;

  .button-icon-left {
    margin-right: var(--space-100);
  }

  &.button-danger {
    background-color: var(--error-color);
  }

  .button-icon-left {
    margin-right: var(--space-100);
  }

  &.button-danger {
    background-color: var(--error-color);
  }

  .button-icon-left {
    margin-right: var(--space-100);
  }

  &.button-danger {
    background-color: var(--error-color);
  }

  &:hover {
    background-color: var(--primary-color-fade);

    &.button-danger {
      background-color: var(--error-color-fade);
    }
  }
}

.button-outline {
  background: var(--text-color-light);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  &.button-danger {
    background: var(--text-color-light);
    color: var(--error-color);
    border: 1px solid var(--error-color);

    &:focus-visible {
      outline-color: var(--error-color);
    }
  }

  &:hover {
    color: var(--text-color-light);
    background-color: var(--primary-color);

    &.button-danger {
      background-color: var(--error-color);
    }
  }
}

.button-sm {
  padding: 0.1rem 0.5rem;
  font-size: var(--text-sm);
}

.button-small {
  padding: 0.4rem 0.8rem;
  font-size: var(--text-sm);
}

.button-text {
  background-color: unset;
  color: var(--primary-color);

  &:hover {
    background-color: unset;
    color: var(--primary-color);
    text-decoration: underline;
  }
}

a {
  text-decoration: none;
  color: var(--text-color-dark);
}

input {
  color: var(--text-color-dark);
  border-radius: var(--border-radius);
  transition: border 0.1s ease-in-out;
}

input:focus-visible {
  outline: none;
  border: 1px solid var(--primary-color);
}
