@import "./variables.scss";
@import "./animations.scss";
@import "./inputs.scss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: var(--font-size);
  background-color: var(--bg-color);
  color: var(--text-color-dark);
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

app-root {
  flex-grow: 1;
}

.cdk-overlay-pane {
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  transform-origin: top;
  animation: slide-down 200ms ease-in-out;

  .cdk-menu {
    display: inline-flex;
    flex-direction: column;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--bg-color);

    hr {
      width: 100%;
      margin: 0;
      padding: 0;
      height: 1px;
      border: none;
      border-top: 1px solid var(--primary-color);
    }

    .cdk-menu-item {
      user-select: none;
      min-width: 64px;
      line-height: 36px;
      padding: 0 16px;

      &.hoverable {
        cursor: pointer;

        &:hover {
          background-color: var(--primary-color);
          color: var(--text-color-light);
        }

        &:active {
          color: var(--text-color-light);
          background-color: var(--primary-color-dark);
          transition: background-color 0.1s ease-in;
        }
      }
    }

    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}

// Reset button styles
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
  text-align: inherit;
}

.button {
  border-radius: var(--border-radius);
  padding: 0.1rem 1rem;
  color: var(--text-color-light);
  background-color: var(--primary-color);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--primary-color-dark);
  }
}

.button-outline {
  background: none;
  color: var(--primary-color-dark);
  border: 1px solid var(--primary-color);

  &:hover {
    color: var(--text-color-light);
    background-color: var(--primary-color);
  }
}

.button-sm {
  padding: 0.1rem 0.5rem;
  font-size: var(--text-sm);
}

a {
  text-decoration: none;
  color: var(--text-color-dark);
}

input {
  color: var(--text-color-dark);
  border-radius: var(--border-radius);
  transition: border 0.1s ease-in-out;
}

input:focus-visible {
  outline: none;
  border: 1px solid var(--primary-color);
}
