:root {
  --antiflash-white: #ffffff;
  --raisin-black: #222122ff;
  --dim-gray: #646463ff;

  --green-yellow: hsl(82, 83%, 63%);
  --green-yellow-dark: hsl(82, 83%, 58%);

  --tropical-indigo: hsl(262, 92%, 76%);
  --tropical-indigo-light: hsl(262, 92%, 82%);
  --tropical-indigo-dark: hsl(259, 92%, 70%);

  --black: #000;
  --white: #fff;

  --bg-color: var(--antiflash-white);
  --primary-color: var(--black);
  --primary-color-fade: #444;
  --primary-color-dark: var(--tropical-indigo-dark);

  --text-color-dark: #000000;
  --text-color-light: #ffffff;

  --font-size: clamp(0.9rem, 2.8vw, 1rem);
  --text-sm: clamp(0.8rem, 0.9rem, 0.9rem);
  --border-radius-small: 2px;
  --border-radius: 10px;

  --input-padding-x: 0.6rem;
  --input-padding-y: 0.4rem;
  --input-padding: var(--input-padding-x) var(--input-padding-y);

  --gray-100: #f9f9f9;
  --gray-200: #f1f1f1;
  --gray-300: #e9e9e9;
  --gray-400: #dcdcdc;
  --gray-500: #cfcfcf;
  --gray-600: #b2b2b2;
  --gray-700: #959595;
  --gray-800: #777777;
  --gray-900: #595959;

  --success-color: #5dad11;
  --error-color: #e62424;

  --space-100: 0.25rem;
  --space-200: 0.5rem;
  --space-300: 0.75rem;
  --space-400: 1rem;
  --space-500: 1.25rem;
  --space-600: 1.5rem;
}
