:root {
  --space-xsmall: 4px;
  --space-short: 8px;
  --space-middle: 16px;
  --space-high: 24px;
  --space-modal: 48px;
  --small-border-radius: 5px;
  --base-border-radius: 10px;

  --large-title-size: 34px;
  --large-title-line-height: 41px;
  --large-title-emphasized-weight: 700;

  --title1-size: 28px;
  --title1-line-height: 34px;
  --title1-emphasized-weight: 700;

  --title2-size: 22px;
  --title2-line-height: 28px;
  --title2-emphasized-weight: 700;

  --title3-size: 20px;
  --title3-line-height: 25px;
  --title3-emphasized-weight: 600;

  --headline-size: 17px;
  --headline-line-height: 22px;
  --headline-weight: 600;

  --body-size: 17px;
  --body-line-height: 22px;
  --body-emphasized-weight: 600;

  --subheadline-size: 15px;
  --subheadline-line-height: 20px;
  --subheadline-emphasized-weight: 600;

  --footnote-size: 13px;
  --footnote-line-height: 18px;
  --footnote-emphasized-weight: 600;

  // Colors
  --red: #ff3b30;
  --orange: #ff9500;
  --yellow: #ffcc00;
  --green: #34c759;
  --mint: #00c7be;
  --teal: #30b0c7;
  --cyan: #32ade6;
  --blue: #007aff;
  --indigo: #5856d6;
  --purple: #af52de;
  --pink: #ff2d55;
  --brow: #a2845e;

  // Grays
  --gray: #8e8e93;
  --gray-2: #aeaeb2;
  --gray-3: #c7c7cc;
  --gray-4: #d1d1d6;
  --gray-5: #e5e5ea;
  --gray-6: #f2f2f7;
  --black: #000000;
  --white: #ffffff;

  // Labels
  --label-primary: var(--black);
  --label-secondary: rgba(60, 60, 67, 0.6);
  --label-tertiary: rgba(60, 60, 67, 0.3);
  --label-quaternary: rgba(60, 60, 67, 0.18);

  --label-dark-primary: var(--white);
  --label-dark-secondary: rgba(255, 255, 255, 0.85);
  --label-dark-tertiary: rgba(255, 255, 255, 0.55);
  --label-dark-quaternary: rgba(255, 255, 255, 0.25);

  // Backgrounds
  --bg-primary: var(--white);
  --bg-secondary: var(--gray-6);
  --bg-tertiary: var(--white);
  --bg-backdrop: rgba(0, 0, 0, 0.4);

  // Grouped Backgrounds
  --grouped-bg-primary: var(---gray-6);
  --grouped-bg-secondary: var(--white);
  --grouped-bg-tertiary: var(---gray-6);

  // Fills
  --fill-primary: rgba(0, 0, 0, 0.85);
  --fill-secondary: rgba(0, 0, 0, 0.5);
  --fill-tertiary: rgba(0, 0, 0, 0.25);
  --fill-quaternary: rgba(0, 0, 0, 0.1);
  --fill-quinary: rgba(0, 0, 0, 0.05);

  // Separators
  --separator-opaque: #c6c6c8;
  --separator-non-opaque: rgba(60, 60, 67, 0.36);

  --material-thick: #f2f2f2;
  --material-regular: rgba(230, 230, 230, 0.86);
  // Materials Controls
  --material-control-menu: rgba(40, 40, 40, 0.58);
  --material-control-popover: rgba(0, 0, 0, 0.28);
  --material-control-title-bar: rgba(250, 250, 250, 0.8);
  --material-control-sidebar: rgba(246, 246, 246, 0.84);
  // --material-control-selection-focus: #0a82ff;
  --material-control-selection-focus: hsl(262, 92%, 76%);
  --material-control-selection-unfocused: #e0e0e0;
  --material-control-header-view: rgba(250, 250, 250, 0.8);
  --material-control-tooltip: rgba(246, 246, 246, 0.6);
  --material-control-under-window-bg: rgba(246, 246, 246, 0.84);
}

hr {
  height: 0;
  width: 100%;
  border: 1px solid var(--separator-non-opaque);
  border-top: none;
}

.large-title {
  font-size: var(--large-title-size);
  line-height: var(--large-title-line-height);

  &.emphasized {
    font-weight: var(--large-title-emphasized-weight);
  }
}

.title1 {
  font-size: var(--title1-size);
  line-height: var(--title1-line-height);

  &.emphasized {
    font-weight: var(--title1-emphasized-weight);
  }
}

.title2 {
  font-size: var(--title2-size);
  line-height: var(--title2-line-height);

  &.emphasized {
    font-weight: var(--title2-emphasized-weight);
  }
}

.title3 {
  font-size: var(--title3-size);
  line-height: var(--title3-line-height);

  &.emphasized {
    font-weight: var(--title3-emphasized-weight);
  }
}

.headline {
  font-size: var(--headline-size);
  line-height: var(--headline-line-height);
  font-weight: var(--headline-weight);

  .italic {
    font-style: italic;
  }
}

.body {
  font-size: var(--body-size);
  line-height: var(--body-line-height);

  &.emphasized {
    font-weight: var(--body-emphasized-weight);
  }

  .italic {
    font-style: italic;
  }
}

.subheadline {
  font-size: var(--subheadline-size);
  line-height: var(--subheadline-line-height);

  &.emphasized {
    font-weight: var(--subheadline-emphasized-weight);
  }

  .italic {
    font-style: italic;
  }
}

.footnote {
  font-size: var(--footnote-size);
  line-height: var(--footnote-line-height);

  &.emphasized {
    font-weight: var(--footnote-emphasized-weight);
  }

  .italic {
    font-style: italic;
  }
}
