:root {
  --antiflash-white: #eff0f4ff;
  --raisin-black: #222122ff;
  --dim-gray: #646463ff;
  --green-yellow: #b4ef50ff;
  --tropical-indigo: #b48bfaff;

  --bg-color: var(--antiflash-white);
  --text-color-dark: #000000;
  --text-color-light: #ffffff;

  --primary-color: #29395b;
  --primary-color-light: #2b2261;
  --border-radius: 5px;

  --input-padding-x: 0.6rem;
  --input-padding-y: 0.4rem;
  --input-padding: var(--input-padding-x) var(--input-padding-y);

  --gray-100: #f9f9f9;
  --gray-200: #f1f1f1;
  --gray-300: #e9e9e9;
  --gray-400: #dcdcdc;
  --gray-500: #cfcfcf;
  --gray-600: #b2b2b2;
  --gray-700: #959595;
  --gray-800: #777777;
  --gray-900: #595959;
}
