@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;600;700&display=swap');

@import '@angular/cdk/overlay-prebuilt.css';
@import '@ctrl/ngx-emoji-mart/picker';

@import 'theme/theme.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}

.fit {
  width: fit-content;
}

@media (max-width: 1024px) {
  body {
    zoom: 0.8;
  }
}
