<nav>
  @for (step of steps; track step; let isLast = $last; let stepIndex = $index) {
  
    <button
      type="button"
      [class.active]="selectedIndex === stepIndex"
      [disabled]="!(!step.stepControl || step.stepControl.valid)"
      (click)="onClick(stepIndex, step.stepControl)"
    >
      {{ step.ariaLabel }}
      @if (step.completed) {
<i class="fa-regular fa-check-circle valid"></i>
}
    </button>
    @if (!isLast) {
<i class="fa-solid fa-chevron-right"></i>
}
  
}
</nav>

<section class="form-container">
  @if (headers) {
<header>
    <ng-container *ngTemplateOutlet="headers"></ng-container>
  </header>
}

  <section [hidden]="!selected">
    <!-- Content from the CdkStep is projected here -->
    <ng-container [ngTemplateOutlet]="selected?.content ?? null"></ng-container>

    @if (submitRef) {

      <ng-container *ngTemplateOutlet="submitRef"></ng-container>
    
}
  </section>
</section>
