<ng-container *ngIf="shop$ | async as shop">
  <app-form-stepper #stepper>
    <ng-template #headers>
      <div class="form-header">
        <app-avatar [customer]="shop"></app-avatar>

        <div>
          <h2>{{ shop.name }}</h2>
          <span class="text-muted">Lyon, {{ shop.country }}</span>
        </div>

        <a [routerLink]="'/shop/' + shop.url" target="_blank">
          <i class="fa-regular fa-info-circle"></i>
        </a>
      </div>
    </ng-template>

    <ng-container *ngFor="let step of steps">
      <cdk-step
        [aria-label]="step.title"
        [completed]="form.get(step.formGroup)?.valid"
        [stepControl]="step.stepControl"
      >
        <ng-container
          *ngComponentOutlet="step.component; inputs: { form }"
        ></ng-container>
      </cdk-step>
    </ng-container>

    <ng-template #submit>
      <button class="button" (click)="onSubmit()">
        {{
          stepper.selectedIndex === 0
            ? "Prendre rendez-vous"
            : stepper.selectedIndex === stepper.steps.length - 1
            ? "Confirmer la demande de rendez-vous"
            : "Continuer la demande de rendez-vous"
        }}
      </button>
    </ng-template>
  </app-form-stepper>
</ng-container>
