<app-form-stepper #stepper>
  <ng-template #headers *ngIf="shop$ | async as shop">
    <div class="form-header">
      <app-avatar [customer]="shop"></app-avatar>

      <div>
        <h2>{{ shop.name }}</h2>
        <span class="text-muted">Lyon, {{ shop.country }}</span>
      </div>

      <a [routerLink]="'/shop/' + shop.url" target="_blank">
        <i class="fa-regular fa-info-circle"></i>
      </a>
    </div>
  </ng-template>

  <ng-container *ngIf="steps$ | async as steps">
    <ng-container *ngFor="let step of steps">
      <cdk-step
        [aria-label]="step.title | translate"
        [completed]="step.completed()"
        [stepControl]="step.stepControl"
        *ngIf="step.show === undefined || step.show()"
      >
        <ng-container *ngComponentOutlet="step.component"></ng-container>
      </cdk-step>
    </ng-container>
  </ng-container>

  <ng-template #submit>
    <button class="button" (click)="onSubmit()">
      {{
        stepper.selectedIndex === 0
          ? "Prendre rendez-vous"
          : stepper.selectedIndex === stepper.steps.length - 1
          ? "Confirmer la demande de rendez-vous"
          : "Continuer la demande de rendez-vous"
      }}
    </button>
  </ng-template>
</app-form-stepper>
