<app-chat-list></app-chat-list>

<div class="chat-window">
  <div
    class="chat"
    *ngIf="selectedChat$ | async as selectedChat"
    (click)="markAsRead(selectedChat)"
  >
    <div class="header">
      <img
        class="profile-pic"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png"
        alt="Profile Picture"
      />

      <div class="content">
        <div class="name">{{ selectedChat.contact }}</div>
        <div class="project-name">Project name</div>
      </div>

      <button class="info-btn">
        <i class="far fa-info-circle"></i>
      </button>
    </div>
    <ul class="message-list">
      <ng-container
        *ngFor="
          let message of selectedChat.messages$ | async as messages;
          let index = index
        "
      >
        <li
          class="day"
          *ngIf="
            index === 0 ||
            (messages[index - 1] &&
              (messages[index - 1].date | date : 'm/MM/Y') !==
                (message.date | date : 'm/MM/Y'))
          "
        >
          {{ message.date | date : "mediumDate" }}
        </li>
        <li class="message" [ngClass]="message.sender ? 'mine' : 'theirs'">
          <span class="message-content">{{ message.message }}</span>
          <span class="message-time">{{
            message.id | date : "shortTime"
          }}</span>
        </li>
      </ng-container>
    </ul>
    <div class="input-container">
      <input
        [(ngModel)]="newMessage"
        type="text"
        placeholder="Type your message here..."
        (keyup.enter)="addMessage(selectedChat)"
      />
      <button class="send-btn" (click)="addMessage(selectedChat)">
        <i class="fa-sharp fa-solid fa-paper-plane-top"></i>
      </button>
    </div>
  </div>
</div>
