@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,400&display=swap");

:root {
  --black: black;
}

button {
  color: white;
  font-weight: 700;
  background-color: black;
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px 45px;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
}
