@if (form$ | async; as form) {
<form [formGroup]="form" #ngForm="ngForm">
  @for (
      dayAvailability of defaultAvailabilities(form).controls; track 
      dayAvailability; let dayRangeIndex = $index) {
  <div
    class="days-range"
    formArrayName="defaultAvailabilities"
   
  >
    <ng-container [formGroupName]="dayRangeIndex">
      <div class="range">
        <label translate>AVAILABILITY.from_day</label>
        <select formControlName="startDay">
          @for (day of weekdays; track day; let dayIndex = $index) {
  <option
           
            [ngValue]="dayIndex + 1"
            translate
          >
            COMMON.DAY.{{ day }}
          </option>
}
        </select>
        <label class="lowercase" translate>AVAILABILITY.to_day</label>
        <select formControlName="endDay">
          @for (day of weekdays; track day; let dayIndex = $index) {
  <option
           
            [ngValue]="dayIndex + 1"
            translate
          >
            COMMON.DAY.{{ day }}
          </option>
}
        </select>
        <div class="remove-button">
          @if (dayRangeIndex > 0) {
<button
           
            (click)="removeDayRange(form, dayRangeIndex)"
          >
            <i class="fa-regular fa-times"></i>
          </button>
}
        </div>
      </div>

      <div class="hour-ranges" formArrayName="hourRanges">
        @for (
            hourControl of getHourRangesControls(dayAvailability); track 
            hourControl; let hourRangeIndex = $index) {
  <div
          class="range"
         
          [formGroupName]="hourRangeIndex"
        >
          <label translate>AVAILABILITY.from_hour</label>
          <input
            type="time"
            formControlName="startTime"
            [class.is-invalid]="
              (ngForm.submitted ||
                getHourControl(dayAvailability, 'startTime', hourRangeIndex)
                  ?.touched) &&
              getHourControl(dayAvailability, 'startTime', hourRangeIndex)
                ?.errors
            "
          />
          <label class="lowercase" translate>AVAILABILITY.to_hour</label>
          <input
            type="time"
            formControlName="endTime"
            [class.is-invalid]="
              (ngForm.submitted ||
                getHourControl(dayAvailability, 'endTime', hourRangeIndex)
                  ?.touched) &&
              getHourControl(dayAvailability, 'endTime', hourRangeIndex)?.errors
            "
          />
          <div class="remove-button">
            @if (hourRangeIndex > 0) {
<button
             
              (click)="removeHourRange(dayAvailability, hourRangeIndex)"
            >
              <i class="fa-regular fa-times"></i>
            </button>
}
          </div>
        </div>
}
      </div>
      <div class="range">
        <button
          type="button"
          class="button button-outline add-range"
          (click)="addHourRange(dayAvailability)"
          translate
        >
          <i class="fa-regular fa-clock"></i>
          COMMON.add
        </button>
        <div class="remove-button"></div>
      </div>
    </ng-container>
  </div>
}
  <button
    type="button"
    class="button button-outline add-range"
    (click)="addNewAvailability(form)"
    translate
  >
    <i class="fa-regular fa-calendar"></i>
    COMMON.add
  </button>
</form>
}
